.emp-card{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(132, 187, 132);
   
  

    &__left{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
            height: 200px;
            display: flex;
            background-color: white;
            padding: 10px;
           // box-shadow: 10px 10px 10px ;
        }
    }
    &__right{
        width: 50%;

        &__top{
            display: flex;
            justify-content: space-between; 
            margin-bottom: 10px;
        }
    }
    &__name{
        span{
            
            text-align: center;
            font-weight: 600;
            font-style: italic;
            font-size: 1.5rem;
            border: 1px solid rgb(190, 185, 185);
            padding: 0px 20px;
            border-radius: 15px;
        }
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



//mobile
@media (max-width:768px) {
    .emp-card{
        margin-left: 0px;
        flex-wrap: wrap;
        margin: auto;

        &__name{
         padding: 15px;
        }
       
        &__right{
            width: 100%;
    
            &__top{
                flex-wrap: wrap;
                
            }
        }
    }
}