<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid navcontent">
    <a class="navbar-brand back" href="/hr-dashboard">Back</a>
    <a class="navbar-brand" href="/login">Employee Management System</a>
  </div>
</nav>

<table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Reason</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of employeeleaveDisplay;let i = index">
        <td scope="row">{{i+1}}</td>
        <td scope="row">{{leave.eid}}</td>
        <!-- <td>
          <ng-container *ngIf="employees && employees.length">
            {{ employees.find(e => String(e.id) === String(leave.eid)).firstname }}
          </ng-container>
        </td> -->
        <td>{{leave.name}}</td>
        <td>{{leave.startdate}}</td>
        <td>{{leave.enddate}}</td>
        <td>{{leave.reason}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button"  id="apply" class="btn btn-success approved"   (click)="approveleave(leave?.id)">Approve</button>
                <button type="button" id="reject" class="btn btn-danger" (click)="rejectedleave(leave?.id)">Reject</button>
              </div>
        </td>
      </tr>
    </tbody>
  </table>
