
/* Navbar brand styling */
.navbar-brand {
  color: #fff; 
  font-weight: bold;
  color: #fff; 
  font-weight: bold;
  font-family: 'Creepster',cursive;
  letter-spacing: 4px;
  font-size: 1.7vw;
  padding: 10px;
  cursor: pointer;
  
}
.navbar-back{
  font-size: 19px;
  text-decoration: none;
  color: silver;
}
nav{
  background-color: #0f172a;
  margin-bottom: 50px;
}

.approve-leave{
    border: none;
    background-color: green;
    color: white;

}
table{
  margin: auto;
  width: 80%;
}
th{
  background-color: rgb(199, 218, 199);
}
.reject-leave{
    border: none;
    background-color: red;
    color: white;
}
table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .table tbody tr:hover {
    background-color: #f5f5f5;
  }

  p{
    font-weight: bold;
  }
  .btn-group{
    button{
      width: 70px;
      padding: 3px;
      font-size: 14px;
    }
  }

  /* Mobile view media query */
@media (max-width: 767px) {
  
  .table thead, .table tbody, .table th, .table td, .table tr {
    display: block;
  }
  .table th{
    display: none;
  }
  .table td {
    text-align: left;
    width: auto;
  }

}
