.form-heading{
    border-top: 1px solid black;
    h3{
        text-align: center;
        width: 200px;
        transform: translateY(-50%);
        background-color: white;
    }
}
// .mat-toolbar-row {
//     .text {
//       flex: 1 1 auto;
//     }
//   }
//   mat-sidenav {
//     background-color: lightgray;
//     border: 1px solid gray;
//   }
