$navbar-padding: 15px; 
$navbar-item-spacing: 15px; 

.navbar {
  background-color: #28a745; 
}

/* Navbar content container styling */
.navcontent {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

/* Navbar brand styling */
.navbar-brand {
  color: #fff; 
  font-weight: bold;
  font-family: 'Creepster',cursive;
  letter-spacing: 4px;
  font-size: 1.7vw;
  cursor: pointer;
}
.navbar-nav {
  margin-left: 30vw; // Push the navbar items to the right
  display: flex;
  gap: $navbar-item-spacing;
}
.nav-link {
  color: #fff; 
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  margin-left: 30px;
  cursor: pointer;
}

a:hover{
    color: yellow;
}





//mobile
@media (max-width: 768px) {
  .navbar-brand{
    display: none;
  }
  .navbar-nav {
    margin-left: 0;
    display: flex;
    flex-direction: column; 
    text-align: center;
  }

  // .nav-link {
  //   color:white;
  //   margin: 0px 0; 
  //   display:table-column-group;
  // }
}

//tablet
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-nav {
    margin-left: 0; 
    flex-direction: row;
    text-align: left; 
  }
}