
$navbar-padding: 15px; 
$navbar-item-spacing: 15px; 

.navbar {
 background-color: black;
 color: white;
}
.navcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  color: #fff; 
  font-weight: bold;
  font-weight: bold;
  font-family: 'Creepster',cursive;
  letter-spacing: 4px;
  font-size: 1.7vw;
  cursor: pointer;
  
}
.navbar-nav {
  margin-left:600px; // Push the navbar items to the right
  display: flex;
  gap: $navbar-item-spacing;
}
.nav-link {
  color:#fff; 
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
a:hover{
    color: yellow;
}
.body{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  &__left{
      width: 50%;
      height: 500px;
      background-image: url(../../../assets/images/four.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size:400px;

      .welcome{
        text-align: center;
        margin-top: 460px;
        font-size: 45px;
        font-weight: bold;
      }
    }
  &__right{
    width: 50%;
    .login-form{
      width: 30vw;
      height: 500px;
      background-color: white;
      border-radius: 10px;
      position: absolute;
      margin-top: 50px;
      padding: 25px; 
      box-shadow: 10px 10px 10px black;
     // border: 2px  black;
      img{
        text-align: center;
        margin-left: 140px;
        margin-bottom: 10px;
      }
      h3{
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 2px;
      }
     
      input{
        border:1px solid gray;
        padding-left: 30px;
      }
      .input-field {
        position: relative;
      }
      .input-field i {
        position: absolute;
        left: 10px; /* Adjust the left position as needed */
        top: 50%;
        transform: translateY(-50%);
        z-index: 1; /* Ensure the icon appears above the input */
      }
      .error{
        color: red;
      }
      label{
        margin-top: 15px;
        text-align: center;
        margin-left: 70px;
        color: blue;
      }
      .icons{
        text-align: center;
        margin-top: 20px;
        i{
          padding: 0px 20px;
        }
      }
  }
  
  }
}

//mobile

@media(max-width:'768px'){
  .body{
   flex-wrap: wrap;
   &__left{
    display: none;
   }
   .login-form{
    width: 100%;
   }
  }
}


 
    

