<div class="leave-form">
    <form [formGroup]="leaveForm">
    <h2 class="text">Leave Application Form</h2>

    <div class="row mb-3">
        <div class="col">
            <label for="Input1" class="form-label">Employee Name</label>
            <input class="form-control" type="text" formControlName="name" readonly>
        </div>
        <div class="col">
            <label for="Input2" class="form-label">Employee ID</label>
            <input class="form-control" type="text" formControlName="eid" readonly>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <label for="startdate" class="form-label">Start Date</label>
            <input type="date" class="form-control" formControlName="startdate" >
            <small *ngIf="leaveForm?.get('startdate')?.invalid  && leaveForm?.get('startdate')?.touched">*Start Date is required field.</small>
        </div>
        <div class="col">
            <label for="enddate" class="form-label">End Date</label>
            <input type="date" class="form-control" formControlName="enddate" >
            <small *ngIf="leaveForm?.get('enddate')?.invalid  && leaveForm?.get('enddate')?.touched">*End Date is required field.</small>
        </div>
    </div>
    <div class="mt-4">
        <label for="exampleFormControlTextarea1" class="form-label ">Reason for leave</label>
        <textarea class="form-control " id="exampleFormControlTextarea1" rows="3" formControlName="reason" ></textarea>
        <small *ngIf="leaveForm?.get('reason')?.invalid && leaveForm?.get('reason')?.touched">
            *Reason is a required field.
          </small>
    </div>
    <div class="btn mt-3"> 
        <button type="button" class="btn " (click)="applyemployeeleave()">APPLY</button> 
    </div>
</form>
</div>
