.leave-form{
    width: 500px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(1, 1, 34);
    margin: auto;
  .text{
    text-align: center;
    font-size: 27px;
    margin-bottom: 30px;
    color: white;
    opacity: .5;
    letter-spacing: 2px;
    
  }
  label{
    font-style: italic;
    font-weight: 900;
    color: white;
  }
  .btn{
    display: flex;
  }
  button{
  display: flex;
   margin-left: 350px;
   background-color: rgb(18, 100, 18);
   color: white;
   font-weight: 400;
   letter-spacing: 2px;
  }
  small{
    font-weight: bold;
    color: red;
  }
}