.form{
    width: 50%;
    padding: 20px;
    background-color:rgb(1, 1, 34);
    border-radius: 50px;
    z-index: 1;
    margin: auto;

    .first-row{
        display: flex;
       justify-content: space-between;
       margin-bottom: 20px;
    }
    label{
        color: white;
        opacity: .8;
        font-weight: lighter;
        margin-bottom: 10px;
    }
    input{
        background-color: antiquewhite;
    }
    .image{
        width: 120px;
        height: 120px;
        border-radius: 100px;
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
    }
    .edit-button{
        width: 80px;
        padding: 8px;
        border: none;
        border-radius: 5px;
        background-color: green;
        margin-top: 25px;
        color: white;
        font-size: 18px;
    }
    select{
        width: 210px;
    }
   
}


