<!-- <h1>{{loggedInEmployee?.firstname}}</h1> -->

<form  class="form" >
    <div class="d-flex" style="justify-content: space-between;">
        <img src="../../../assets/images/{{loggedInEmployee?.profile}}" alt="" class="image">
        <div>
            <button class="edit-button" (click)="editEmpProfile()" >Edit</button>
         </div>
    </div>
    <div class="first-row">
        <div>
            <label for="name">Employee ID</label><br>
            <input type="text" class="form-control"  placeholder="{{loggedInEmployee?.id}}"  readonly>
        </div> 
        <div>
            <label for="email">Email ID</label><br>
            <input type="email" class="form-control" name="email" readonly placeholder="{{loggedInEmployee?.email}}" (input)="onempDataChanged($event)">
        </div>
    </div>
    <div class="first-row">
        <div class="div">
            <label for="name">First Name</label><br>
            <input type="text" class="form-control" name="firstname" placeholder="{{loggedInEmployee?.firstname}} "  (input)="onempDataChanged($event)">
        </div>
        <div class="div">
            <label for="name">Last Name</label><br>
            <input type="text" class="form-control" name="lastname" placeholder="{{loggedInEmployee?.lastname}} " (input)="onempDataChanged($event)">
        </div>  
    </div>
    <div class="first-row">
        <div>
            <label for="birthday">BirthDate</label><br>
            <input type="text" class="form-control" name="birthday"  placeholder="{{loggedInEmployee?.birthday}}" (input)="onempDataChanged($event)" >
        </div>
        <div class="div">
            <label for="age">Age</label><br>
            <input type="number" class="form-control"  name="age" placeholder="{{loggedInEmployee?.age}}" (input)="onempDataChanged($event)">
        </div>
       
    </div>
    <div class="first-row"> 
        <div>
            <label for="phno">PhoneNumber</label><br>
            <input type="text" class="form-control" name="phno" placeholder="{{loggedInEmployee?.phno}}"(input)="onempDataChanged($event)"  >
        </div>
        <div>
            <label for="bloodgroup">Blood Group</label>
            <input type="text" class="form-control" name="bloodgroup" placeholder="{{loggedInEmployee?.bloodgroup}}"(input)="onempDataChanged($event)" >
        </div>
        
    </div>
    <div class="first-row"> 
        <div>
            <label for="password">Change Password</label><br>
            <input type="text" class="form-control" name="password" placeholder="{{loggedInEmployee?.password}}"(input)="onempDataChanged($event)"  >
        </div>
    </div>
</form> 





