<div class="navbarr">
    <div class="top">
        <mat-icon>notifications_none</mat-icon> 
    </div>
    <div class="user">
        <img src="../../../assets/images/{{loggedInEmployee?.profile}}" alt="">
        <h4 class="name">Hi ! {{loggedInEmployee?.firstname | titlecase }} {{ loggedInEmployee?.lastname | titlecase}}</h4>
        <p class="email">{{loggedInEmployee?.email}}</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>Dashboard</span>
        </div>
        <div class="menu-item">
           
            <button mat-button  class="menu-button" [routerLink]="'profile-display'">
                <mat-icon>dashboard</mat-icon>
                <span>View Profile</span>
            </button>

            <button mat-button  class="menu-button" [routerLink]="'profile'">
                <mat-icon>dashboard</mat-icon>
                <span>Edit Profile</span>
            </button>

            <button mat-button  class="menu-button" [routerLink]="'leave-form'">
                <mat-icon>send</mat-icon>
                <span>Leave form</span>
            </button>
            
            <button mat-button  class="menu-button" [routerLink]="'emp-dash-viewleave'">
                <mat-icon>view_list</mat-icon>
                <span>Leave details</span>
            </button>
           
            
        </div>
    </div>
</div>
